@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* Responsive Img */
.__img {
    max-width: 100%;
    height: auto;
}

/* Center Img */
.__imgCenter {
    display: block;
    margin: 0 auto;
}

/* Rounded Img */
.__imgRounded {
    border-radius: 50%;
}

/* Gradient Background */
.__gradientBg {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 34%, rgba(92, 210, 185, 1) 100%);
}

/* Header Start */
.__header {
    background-color: #151515;
}

.__header .__navbar {
    display: flex;
    align-items: center;
    padding: 25px 0px;

}

.__header .__navbar ul {
    display: flex;
    margin-left: auto;
    gap: 30px;
}

.__header .__navbar a {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.__header .__navbar a:hover {
    color: #5cd2b9;
    font-size: 18px;
    transition: all 0.5s ease-in-out;
    font-weight: 600;
}

/* Header End */

/* Banner Start */
.__hero {
    background-image: url(../images/banner.webp);
    padding-top: 100px;
    padding-bottom: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.__hero .__contant>span {
    display: block;
    font-size: 18px;
    line-height: 28px;
    color: #5cd2b9;
    font-weight: 600;
    letter-spacing: 4px;
}

.__hero .__contant h1 {
    font-size: 70px;
    font-weight: 700;
    color: #ffffff;
    line-height: 80px;
    margin-bottom: 20px;
}

.__hero .__contant h1 span {
    color: #5cd2b9;
}

.__hero .__contant p {
    color: #aaaaaa;
    margin-bottom: 50px;
    font-size: 15px;
    line-height: 25px;
}

.__hero .__contant a {
    width: 200px;
    display: inline-block;
    background-color: #5cd2b9;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: white;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.__hero .__contant a:hover {
    background-color: transparent;
    border: 1px solid;
    border-left-width: 3px;
    border-right-width: 3px;
    transform: translateY(-6px);
    transition: all 0.5s ease-in-out
}

/* Banner End */

/* AboutUs Start*/
.__aboutUs {
    background-color: black;
    padding-top: 100px;
    padding-bottom: 100px;
}

.__aboutUs .__row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.__aboutUs .__row .__col5 {
    flex: 0 0 40%;
}

.__aboutUs .__col7 .__contant>span {
    display: block;
    font-size: 18px;
    line-height: 28px;
    color: #5cd2b9;
    font-weight: 600;
    letter-spacing: 4px;
}

.__aboutUs .__col7 .__contant h2 {
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 60px;
}

.__aboutUs .__col7 .__contant h2 span {
    color: #5cd2b9;
}

.__aboutUs .__col7 .__contant p {
    font-size: 15px;
    line-height: 25px;
    color: #aaaaaa;
}

/* AboutUs End*/

/* Solution Start*/
.__solution {
    background-color: black;
    padding-top: 100px;
    padding-bottom: 50px;
}

.__solution .__row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.__solution .__row .__col5 {
    flex: 0 0 40%;
}

.__solution .__contant h2 {
    color: white;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
}

.__solution .__contant h2 span {
    color: #5cd2b9;
}

.__solution .__contant p {
    font-size: 15px;
    padding-top: 20px;
    line-height: 25px;
    color: #aaaaaa;
}

/* Solution End*/

/* Services Start */
.__services {
    background-color: #000000;
    padding-top: 100px;
    padding-bottom: 70px;
}


.__services .__content {
    padding-bottom: 100px;
}

.__services .__content>span {
    display: block;
    font-size: 18px;
    line-height: 28px;
    color: #5cd2b9;
    font-weight: 600;
    letter-spacing: 4px;
}

.__services .__content h1 {
    color: white;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 15px;
    font-weight: 700;
}

.__services .__content h1 span {
    color: 5cd2b9;
}

.__services .__content p {
    color: #aaaaaa;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
}

.__services .__row {
    display: flex;
    text-align: center;
    gap: 20px;
}

.__services .__row .__col6 {
    flex: 0 0 50%;
}

.__services .__row .__col6 .__card {
    margin-bottom: 30px;
}

.__services .__row .__col6 .__card h3 {
    color: white;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    margin-top: 15px;
    margin-bottom: 15px
}

.__services .__row .__col6 .__card p {
    color: #aaaaaa;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

/* Services End */

/* Why Choose Start */

.__whyChoose {
    background-color: #0c0c0c;
}

.__whyChoose .__row {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.__whyChoose .__row .__col7 {
    flex: 0 0 50%;
}

.__whyChoose .__row .__col5 h3 {
    color: white;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 20px;
}

.__whyChoose .__row .__col5 h3 span {
    color: #5cd2b9;
}

.__whyChoose .__row .__col5 h2 {
    color: white;
    font-size: 30px;
    margin: 15px 0 15px;
}

.__whyChoose .__row .__col5 p {
    color: #aaaaaa;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

/* Why Choose End */

/* Digital Start */
.__digital {
    background-color: #000000;
    padding-top: 100px;
    padding-bottom: 100px;
}

.__digital .__contant h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    color: white;
}

.__digital .__contant h2 span {
    color: #5cd2b9;
}

.__digital .__contant p {
    color: #aaaaaa;
    line-height: 25px;
    font-size: 15px;
    margin-top: 20px;
}

/* Digital End */

/* Logos Start*/

.__logos {
    background-image: url(../images/sideView.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.__logos .__row {
    display: flex;
}

.__logos .__row .__col2 {
    flex: 0 0 20%;
}

.__logos .__row img {
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
}

.__logos .__row img:hover {
    filter: inherit;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

/* Logos End*/

/* portFolio Start */

.__portFolio {
    background-color: #000000;
    padding-top: 100px;
    padding-bottom: 100px;
}

.__portFolio .__content {
    text-align: center;
    padding-bottom: 50px;
}

.__portFolio .__content>span {
    color: #5cd2b9;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 4px;
    display: block;
    font-weight: 600;
}

.__portFolio .__content h2 {
    color: white;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 20px;
}

.__portFolio .__content h2 span {
    color: #5cd2b9;
}

.__portFolio .__content p {
    color: #aaaaaa;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
}

.__portFolio .__row {
    display: flex;
    gap: 20px;
}

.__portFolio .__row .__col4 {
    flex: 1;
}

.__portFolio .__row img {
    display: block;
    width: 100%;
    height: 300px;
}

.__portFolio .__row .__col4 img:first-child {
    margin-bottom: 20px;
}

/* portFolio End */

/* testiMonials Start */

.__testimonials {
    background-image: url(../images/adadad.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 100px;
}

.__testimonials .__content {
    margin-bottom: 50px;
}

.__testimonials .__content>span {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 4px;
    line-height: 28px;
    color: #5cd2b9;
}

.__testimonials .__content h2 {
    font-size: 50px;
    color: white;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}

.__testimonials .__content h2 span {
    color: #5cd2b9;
}

.__testimonials .__content p {
    color: #aaaaaa;
}

/* .__testimonials .__row {
    display: flex;
    gap: 20px;
} */

.__testimonials .__box p {
    color: #aaaaaa;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.__testimonials .__box {
    background-color: #151515CF;
    padding: 40px 20px;
    width: 99%;
    margin: 0 auto;
}

.__testimonials .__box .__avatar {
    display: flex;
    margin-top: 25px;
    gap: 20px;
    align-items: center;
}

.__testimonials .__box .__avatar h3 {
    color: white;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}

.__testimonials .__box .__avatar h3:hover {
    color: #aaaaaa;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.__testimonials .__box .__avatar p {
    margin-left: auto;
    font-size: 50px;
}

.__testimonials .__box .__avatar span {
    color: #5cd2b9;
    font-size: 13px;
    line-height: 23px;
    font-weight: 400;
}
.__testimonials .__slider {
    margin-bottom: 0;
}

.__testimonials .__slider .slick-dots li button::before {
    font-size: 16px;
    color: #5cd2b9;
}

.__testimonials .__slider .slick-dots {
    bottom: -40px;
}
/* testiMonials End */
/* form Start */
.__form {
    background-color: #0c0c0c;
    background-image: url(../images/bg-2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.__form .__row {
    display: flex;
    gap: 25px;
    align-items: center;
}

.__form .__content>span {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 4px;
    line-height: 28px;
    color: #5cd2b9;
}

.__form .__row h2 {
    font-size: 50px;
    color: white;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}

.__form .__row h2 span {
    color: #5cd2b9;
}

.__form .__row p {
    color: #9e9e9e;
    font-size: 15px;
    line-height: 25px;
}

.__form .__row a {
    color: #5cd2b9;
    font-size: 15px;
    line-height: 25px;
}

.__form .__row h3 {
    color: white;
    font-size: 25px;
    line-height: 40px;
    font-weight: 700;
    padding-top: 30px;
    cursor: pointer;
}

.__form .__row button {
    width: 200px;
    display: inline-block;
    background-color: #5cd2b9;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: white;
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 15px;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.__form .__row button:hover {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    transition: all 0.5s ease-in-out;
}

.__form .__row label {
    color: #5cd2b9;
    padding-bottom: 10px;
}

.__form .__row input {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #151515cf;
    border: 1px solid #5cd2b9;
}

.__form .__row textarea {
    background-color: #151515cf;
    border: 1px solid #5cd2b9;

}

.__form .__row .__col6 {
    flex: 1;
}

.__form .__row form {
    display: flex;
    flex-direction: column;
}

.__form .__row  .__box {
    border: 1px solid #5cd2b9;
    padding: 20px 30px;
    background-color: #151515cf;
}

.__form .__row  textarea {
    resize: none;
}

/* form end */

/* footer start */
.__footer {
    background-color: #000000;
    padding-top: 50px;
    padding-bottom: 50px;
}

.__footer .__content {
    text-align: center;
}

.__footer .__content img {
    display: inline-block;
    margin-bottom: 25px;
}

.__footer .__content ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.__footer .__content ul li a {
    color: #5cd2b9;
}

.__footer .__content ul li a:hover {
    color: white;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.__footer .__content p {
    color: #aaaaaa;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}


/* footer end */